
   <nav class="nav_style_design">
      <img class="logo" src="{{ asset('build/images/bg-big.png') }}" alt="">
        <header>
            <img class="logo" src="{{ asset('build/images/logo.gif') }}" alt="">
            <ul>
                <li><a href="{{ path('app_home') }}">>Home</a></li>
                <li><a href="">Tricks</a></li>
                <li><a href="{{ path('app_login') }}">Sign in</a></li>
                <li><a href="{{ path('app_account_creation') }}">Sign up</a></li>
            </ul>
        </header>
        <div class="main_title_container" id="snowboarder">
            <h1 class="main-title">Snowtricks, <span>your</span> own list!</h1>
            <img src="{{ asset('build/images/snowtricksboarder.png') }}" alt="">
        </div>
    </nav>